
.homelogo{
    
    background-color: black;
    position:sticky;
    align-content: center;
    text-align: center;

}
body{
    background: black;
    background-image: url('DarkWater1.jpg');
    background-size: cover;
}
