@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}
.homelogo{
    
    background-color: black;
    position:relative;
    align-content: center;
    text-align: center;

}
.insta {
    position: relative;
    text-align: right;
    top: -80px;
    right:20;
}
html{
    min-width: 1700;
    position:relative;
}
body{
   
    background:black;
   
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 100;
}

p {
    background:black;
    color: white;
    font-family: "Serif";
    font-size: 30;
    align-content: center;
    text-align: center;

    
}

.anime{
    position: absolute;
   width:100%;
border: 2px solid white;
  top:20;
  height:auto;
  width:100%;

   
}

.row {
    display: flex;

    text-align: center;

  }
  
  .pics {
    flex: 33.33%;
    padding: 5px;
  }

.animeTitle {
  position: relative;
  display: block;
  margin: 0 auto;
  top:-1;
  width: 720;


}

    
    

.animeDesc {
    position: relative;
    position: block;
    margin: 0 auto;
    top:0;
    width:1520;
    
}

.grid{
    position:fixed;
}