@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}

.homelogo{
    
    background-color: black;
    position:relative;
    align-content: center;
    text-align: center;

}
.insta {
    
}
html{
    
}
body{
   
    background:black;
   
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 100px;
}
.insta{
    margin-right:30px;
}
p {
    background:black;
    color: white;
    font-family: "Serif";
    font-size: 40px;
    align-content: center;
    text-align: center;
    margin-left:100px;
    margin-right:100px;

    
}

.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
}  
.anime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin:10px;
    background-image: url(Photo-Assets/headdown.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat:no-repeat;
   
}

.row {
    display: flex;
justify-content: space-between;
    text-align: center;

    margin-left:100px;
margin-right:100px;
  }
  

  .pic{
    flex:1;
    max-width: 350px; 
   
}

 

.animeTitle {
  position: relative;
  display: block;
  margin: 0 auto;
  top:-1;
  width: 720;


}

.anime-photoshoot{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.photo{
   width:1200px;
   
}

.grid{
    
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:100px;
    margin-right:100px;
    padding-top:20px;
    padding-bottom:30px;
  }
  
  .footer-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
  }