
@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}


.homelogo{
    

}

.insta {
    
}

*{
    margin:0;
   
}
body{
    margin:0;

    background:black;
    background-size: cover;
}

h1{margin: 0;
    color:white;
    
} 

p {
  margin-top: 0;
  margin-bottom:0;
    color: white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 40;
}

.header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 

}


.entier-website{
 
  
  
}


  .noispo-video{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    padding-bottom:20px;
  }
  

  
  h2 {
    font-family: 'OldEnglish', sans-serif;
  }



.art{
display:flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
height:70px;
padding-left: 40px;
padding-right:40px;


}

.video{
width:100px;

}

.photo{
  width:100px;
}

.music{
  width:100px;
}

.aboutme{
  width:100px;
}

.fashion{
  width:100px;
}


.contactme{
  width:100px;
}