@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}

html{
    min-width: 1700;
    position:relative;
}
.homelogo{
    

    position:relative;
    align-content: center;
    text-align: center;

}

.insta {
    position: absolute;
    left:1700;
    top:25;
}


body{
    background:black;
    background-size: cover;
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 70;
}

p {
    color: white;
    font-family: "Serif";
    font-size: 20;
}



.video{
position:absolute;
}

.photo{
position: absolute;
left:300;
}

.music{
position:absolute;
left:600;
}

.aboutme{
position:absolute;
left:900;

}

.fashion{
position:absolute;
left:1300;
}
