@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');
}




body{
    background: black;
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 40;
}


.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
  
  }

.bandcamp {
    position: relative;
    display:grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right:200px;
    background-image: url(Photo-Assets//RowanStraightAhead.JPG);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position:top;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: white;*/
    
}

.bandcamp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.as-above{




}

.as-above-bandcamp{
    
    display: flex;
    justify-content: center;
    
}

.noispo-logo {
 position:fixed;
}