@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');
}

.homelogo{
    
    background-color: black;
    position:sticky;
    align-content: center;
    text-align: center;

}
body{
    background: black;
    background-image: url('DarkWater1.jpg');
    background-size: cover;
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 40;
}

.bandcamp {
    
}
.bandrow1{

position: relative;
left:200;

}
.unseen-heaven {
position:absolute;

top:0;
left:0;

}

.heavenbandcamp {
    display: flex;
    justify-content: center;
}

.as-above{
position:absolute;
top:0;
left: 506px;



}

.as-above-bandcamp{
    
    display: flex;
    justify-content: center;
    
}

.noispo-logo {
 position:fixed;
}