@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');
}
html{
    min-width: 1700;
    position:relative;
}

.homelogo{
    
    background-color: black;
    position: absolute;
    margin: 0 auto;
    left:910;
}


.insta {
    position: absolute;
    left:1800;
    top:20px

}

body{
    background: black;
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 40;
}

.bandcamp {
    
}
.bandrow1{

position: absolute;
left:200;
top:200;

}
.unseen-heaven {
position:absolute;
width:400;
top:0;
left:0;

}

.heavenbandcamp {
    
    display: flex;
    justify-content: center;
}

.as-above{
position:absolute;
width:400;
top:0;
left: 506px;



}

.as-above-bandcamp{
    
    display: flex;
    justify-content: center;
    
}

.noispo-logo {
 position:fixed;
}