@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}
.homelogo{
    
    background-color: black;
    position:sticky;
    align-content: center;
    text-align: center;

}
body{
    background: black;
    background-size: cover;
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 100;
}

p {
    color: white;
    font-family: "Serif";
    font-size: 30;
}

.ariesTitle{
    position: relative;
    align-content: center;
    text-align: center;
}
.aries {
    position: relative;
    left:200;
    width:1520;
}