@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}

html{
    min-width: 1700;
    position:relative;
}
*{
    text-align: center;
}
.homelogo{
    
    background-color: black;
    position:relative;
    margin: 0 auto;
}

.insta {
    position: relative;
    text-align: right;
    top:-80px
}


body{
    background: black
   
}

h1{
    color:white;
    font-family: 'OldEnglish', sans-serif;
    font-size: 100;
}

p {
    color: white;
    font-family: "Serif";
    font-size: 30;
}

.ariesTitle{
    position: relative;
    margin: 0 auto;
    height:150;
    padding:30px;
}


.ariesDesc {
    position: relative;
    width: 750;
    margin: 0 auto;

}

.aries {
    position: relative;
    width:1520;
    margin: 0 auto;
}

