
  @font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');

}

html{
  min-width: 1700;
  position:relative;
}
  body{
    margin: 0px; background-color: #222222; overflow: hidden;
  }
  


  h2 {
    font-family: 'OldEnglish', sans-serif;
  }
*{
  margin: 0;
  padding:0px;
  box-sizing: border-box;
  font-family: 'OldEnglish', sans-serif;
}

section{
  position:relative;
  display:flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background:#111
}

section .text{
  position: absolute;
  color: #fff;
  font-size: 1.5em;
  user-select: none;
  pointer-events: none;

  animation: animate 7.5s linear infinite;
}

@keyframes animate 
{
  0%
  {
    transform: rotate(0deg);
}
100%
  {
    transform: rotate(360deg);
}

}
section .text span{
  top:-200px;
  position: absolute;
  
  display: inline-block;
  transform-origin: 0 200px;
}