@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');
}

.homelogo{
    
    position:sticky;
    align-content: center;
    text-align: center;

}

.insta {
    position: absolute;
    left:1700;
    top:25;
}

body{
    background: black;
    background-size: cover;
}

.noispostatementvid {
    display: flex;
    align-items: center;
    justify-content: center;
    
}