@font-face {
    font-family: 'OldEnglish' ;
    src: url(fonts/ghosthey-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Serif' ;
    src: url(fonts/Norman-Regular.otf) format('truetype');
}


html{
    min-width: 1700;
    position:relative;
}


.header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   background-image: url(Photo-Assets/noispoyung.jpeg);
  background-position: bottom;
  }

h1{
    color:white;
    font-family: 'OldEnglish';
    display: block;
    text-align: center;
    font-size: 80px;

    margin:0px;
    padding:0px;
}

.homelogo{
    display:block;
    margin-left:auto;
    margin-right: auto;
    
    position:relative;
    margin: 0 auto;
    text-align: center;
}

.insta {
    position: relative;
    text-align: right;
    top:-80px
}

body{
    background: black;
    background-size: cover;
}


.column-of-videos{

}

.statement-video-content{
    
   

  background-size: cover;
}
.noispostatementvid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}

.statement-video{
    margin-left: 10px;
}

.statement-description{
    color:white;
    
    font-family: "Serif";
    font-size:30px;
    border-style:solid;
    border-color: white;
    border-width:2px;
    padding:10px;
    margin-right:10px;
    margin-left:10px;
}

